<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 2</title>
</head>
<body>

    <h1>Shipping Address</h1>
    
    <form action="/shippingaddress/checkout" method="POST" data-th-object="${shippingaddress}">
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" size="30" placeholder="Your name" data-th-field="*{username}">
                </td>
            </tr>
            <tr data-th-if="${#fields.hasErrors('username')}">
                <td>
                    <span data-th-errors="*{username}"></span>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <input type="text" size="30" placeholder="Your address" data-th-field="*{address}">
                </td>
            </tr>
            <tr data-th-if="${#fields.hasErrors('address')}">
                <td>
                    <span data-th-errors="*{address}"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" formmethod="GET" formaction="/">Back</button>
                    <button type="submit">Checkout</button>
                </td>
            </tr>
        </table>

    </form>

</body>
</html>